{% extends "filterviewer/index.html" %}

{% block title %}CNN Viewer{% endblock %}
{% block section %}CNN Viewer{% endblock %}

{% block javascript %}
    {% load static %}
    <script src="{% static 'js/Utils.js' %}"></script>
    <script src="{% static 'js/canvasController.js' %}"></script>
    <script src="{% static 'js/image.js' %}"></script>
{% endblock %}

{% block css %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
    <canvas class="mainCanvas"></canvas>
    <script>
        $(function() {
            new ViewerController();
        })
    </script>
    <br>

    <input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;">
    <label for="file" class="btn-3">
    <span>upload</span>
    </label>
    <br>
    <img id="output" width="500" />

    <script>
    var loadFile = function(event) {
	var image = document.getElementById('output');
	image.src = URL.createObjectURL(event.target.files[0]);
    };
    </script>

{% endblock %}