{% extends "filterviewer/index.html" %}

{% block title %}CNN Viewer{% endblock %}
{% block section %}CNN Viewer{% endblock %}

{% block javascript %}
    {% load static %}
    <script src="{% static 'js/Utils.js' %}"></script>
    <script src="{% static 'js/canvasController.js' %}"></script>
    <script src="{% static 'js/image.js' %}"></script>
{% endblock %}

{% block css %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
    <canvas class="mainCanvas"></canvas>
    <script>
        $(function() {
            new ViewerController();
        })
    </script>
{% endblock %}